body {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 120px;

}