body {
    background-color: rgb(212, 240, 231);
}

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 120px;

}

.menu {
    margin: auto 0;
    gap: 20px;
}

.menulist {
    display: inline;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
    list-style: none;
}

.navbutton {
    margin: auto 0;
    border: green solid;
    border-radius: 5px;
}

.navbar button {
    background-color: darkgreen;
    color: #ffffff;
    padding: 5px;
}

.hero {
    justify-items: center;
    padding: 120px;
}

.banner {
    background-image: url(./assets/hero-bg.png);
}

.hero .bannerbtn {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px;
}

.bannerbtn img {
    margin: auto 0;

}

.bannerbutton-top {
    color: rgb(46, 87, 6);
}

.hero .hero-header {
    color: #ffffff;
    text-align: center;
    width: 770px;
    font-size: x-large;
}

#h1-green {
    color: green;
}

.banner .b1 {
    background-color: seagreen;
    padding: 3px;

}

.banner .b2 {
    color: #ffffff;
    background-color: rgb(78, 74, 74);
    padding: 3px;
    border: #ffffff solid 1px;
}

.cards {
    background-color: #ffffff;
    justify-items: center;
    text-align: center;
}

.cards .card-header {
    margin-top: 50px;
}

.cards .card-header h1 {
    color: #001931;
    font-weight: 700;
    margin-bottom: 16px;
}

.card-container {
    max-width: 1360px;
    display: flex;
    gap: 24px;
    padding: 24px;
    justify-content: space-around;
}

.card-content {
    max-width: 320px;
    padding: 24px;
    box-shadow: black;
}

.card-content h3 {
    font-weight: 600;
    margin-bottom: 16px;
}

.card-icon {
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}

.brain {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px;

}

.brain .solution {
    vertical-align: auto;
}

.brain .solution h6 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.brain .solution h1 {
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
    margin-bottom: 16px;
}

.brain .solution p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.brain .solution ul {
    list-style: none;
    color: #001931;
}

.brain .solution li {
    margin-bottom: 16px;
    font-weight: 500;
}

.brain .solution li img {
    align-items: baseline;

}

.access {
    background-color: #F7F6F2;
    text-align: center;
    padding: 40px 80px;
}

.access h1 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.access p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}

.access button{
    background-color: #469165;
    padding: 5px;
    border-radius: 5px;
    margin: 6px;
}
