body {
    background-color: aquamarine;
}

* {
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 120px;

}

.menu {
    margin: auto 0;
    gap: 20px;
}

.menulist {
    display: inline;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
    list-style: none;
}

.navbutton {
    margin: auto 0;
    border: green solid;
    border-radius: 5px;
}

.navbar button {
    background-color: darkgreen;
    color: #ffffff;
    padding: 5px;
}

.hero {
    justify-items: center;
    padding: 120px;
}

.banner {
    background-image: url(./assets/hero-bg.png);
}

.hero .bannerbtn {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3px;
}

.bannerbtn img {
    margin: auto 0;

}

.bannerbutton-top {
    color: rgb(46, 87, 6);
}

.hero .hero-header {
    color: #ffffff;
    text-align: center;
    width: 770px;
    font-size: x-large;
}

#h1-green {
    color: green;
}

.banner .b1 {
    background-color: seagreen;
    padding: 3px;

}

.banner .b2 {
    color: #ffffff;
    background-color: rgb(78, 74, 74);
    padding: 3px;
    border: #ffffff solid 1px;
}

.cards {
    background-color: #ffffff;
    justify-items: center;
    text-align: center;
}

.card-container {
    max-width: 1360px;
    display: flex;
    gap: 24px;
    padding: 24px;
    justify-content: space-around;
}

.card-content {
    max-width: 320px;
    padding: 24px;
    box-shadow: black;
}

.card-content h3 {
    font-weight: 600;
    margin-bottom: 16px;
}

.card-icon {
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}

