body {
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 120px;

}

.menu {
    margin: auto 0;
}

.menulist {
    display: inline;
    display: flex;
    gap: 32px;
}

.menu li {
    display: inline;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
}

.navbutton {
    margin: auto 0;
    border: green solid;
    border-radius: 5px;
}

.navbar button {
    background-color: #469165;
    color: white;
    border: none;
    padding: 13px 16px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.navlogo img {
    height: 60px;
    width: 140px;
}

.hero {
    justify-items: center;
    padding: 120px;
}

.banner {
    background-image: url(./assets/hero-bg.png);
    height: 674px;
}

.bannerbutton {
    display: flex;
    gap: 16px;

}

.bannerbutton button {
    background: none;
    color: #ffffff;
    border-radius: 4px;
}

.button-two {
    background-color: #469165;
    padding: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 251px;

}

.button-three {
    color: #ffffff;
    padding: 16px;
    border: #ffffff solid 1px;
    display: flex;
    gap: 10px;
    background: transparent;
    justify-content: center;
    width: 198px;
}

.hero .bannerbtn {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 12px;
    border-radius: 1000px;
    display: flex;
    gap: 6px;
}

.bannerbtn img {
    margin: auto 0;

}

.bannerbutton-top {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    background: none;
}

.hero .hero-header {
    color: #ffffff;
    text-align: center;
    width: 770px;
    height: 168px;

}

.hero .hero-header h1 {
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
}

.hero .banner-text {
    margin: 16px 0 32px 0;
}

.hero p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

#h1-green {
    color: #30B868;
}

main {
    padding: 120px;

}

.cards {
    text-align: center;
}

.cards .card-header h1 {
    color: #001931;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 48px;
}

.card-container {
    display: flex;
    gap: 24px;
    margin: 44px 0px;
}

.card-header p {
    font-size: 16px;
    color: #627382;
}

.card-content {
    width: 322px;
    padding: 70px 24px;
    box-shadow: 0px 0px 8px 0px #0000000F;

}

.card-content h3 {
    font-weight: 600;
    margin: 16px 0px;
    font-size: 24px;
    color: #001931;
}

.card-content p {
    color: #627382;
}

.card-icon {
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}

.brain {
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain .solution {
    vertical-align: auto;
}

.brain .solution h6 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.brain .solution h1 {
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
    margin-bottom: 16px;
}

.brain .solution p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.brain .solution ul {
    list-style: none;
    color: #001931;
}

.brain .solution li {
    margin-bottom: 16px;
    font-weight: 500;
    display: flex;
    gap: 6px;
}

.access {
    background-color: #F7F6F2;
    text-align: center;
    padding: 40px 80px;
    margin-top: 120px;
}

.access h1 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.access p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}

.access-button {
    background-color: #469165;
    padding: 16px;
    border-radius: 5px;
    margin: 24px 0 16px 0;
    display: flex;
    gap: 10px;
    width: 194px;
    justify-content: center;
}

.access-button:hover {
    transform: scale(1.1);
}

.access-button button {
    background: none;
    color: #ffffff;
}

.access .bottom {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #001931;
    text-align: center;
    color: #ffffff;
    padding: 30px 120px;
}

.footertop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

footer p {
    color: #FAFAFA;
    margin-top: 20px;
}

footer h6 {
    font-size: 20px;
    font-weight: 500;
}

footer .icons {
    list-style: none;
}

footer .icons li {
    background: #ffffff;
    border-radius: 50%;
    padding: 5px;
}

footer .icons li i {
    color: black;
}

footer .social-icon .icons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.hr {
    border-bottom: 1px solid #E5E7EB;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    border: none;
    outline: none;
    transform: scale(1.1);
}
footer .icons li{
    cursor: pointer;
}
footer .icons li:hover{
    transform: scale(1.1);
}